@import "../../../resources/styles/vars.scss";

.searchField {
  flex: 1;
}

.imageListCard {
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.col {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.imageRow {
  width: 100%;
  background-color: $color-background-600;
  margin: 1em 0;
  padding: $padding-small;
  border-radius: $border-radius;
  display: flex;
  flex-direction: row;
  align-items: center;
}
