@import "../../../resources/styles/vars.scss";

.textFieldBase {
  height: 1.5rem;
  border: none;
  flex: 1;
  width: 100%;
  background-color: inherit;

  &:focus-visible,
  :target,
  :active {
    outline: none;
    border: none !important;
  }
}

.textFieldContainer {
  border: 1px solid $color-primary-300;
  border-radius: $border-radius;
  padding: 3px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  background-color: $color-background-900;

  &:hover,
  &:focus-within {
    border: 1px solid $color-primary-500;
    color: $color-text-500;
    outline: none;
  }
}

.textAreaBase {
  @extend .textFieldBase;
  resize: vertical;
}

.textAreaContainer {
  @extend .textFieldContainer;
}

.requiredTextField {
  color: $color-secondary-500;
  font-weight: 900;
  margin-right: 6px;
}

.responsive {
  width: 100%;
  @media (min-width: 1024px) {
    width: 300px;
  }
}
