/* Colors retrieved from https://www.realtimecolors.com/?colors=f8f1f8-140613-6c008d-0c358d-ffc700&fonts=Poppins-Poppins */

* {
  --text-50: #f6eef6;
  --text-100: #eeddee;
  --text-200: #ddbbdd;
  --text-300: #cc99cc;
  --text-400: #bb77bb;
  --text-500: #aa55aa;
  --text-600: #884488;
  --text-700: #663366;
  --text-800: #442244;
  --text-900: #221122;
  --text-950: #110911;

  --background-50: #f9ebf8;
  --background-100: #f3d8f1;
  --background-200: #e8b0e4;
  --background-300: #dc89d6;
  --background-400: #d062c9;
  --background-500: #c43bbb;
  --background-600: #9d2f96;
  --background-700: #762370;
  --background-800: #4f174b;
  --background-900: #270c25;
  --background-950: #140613;

  --primary-50: #f9e5ff;
  --primary-100: #f3ccff;
  --primary-200: #e799ff;
  --primary-300: #db66ff;
  --primary-400: #cf33ff;
  --primary-500: #c300ff;
  --primary-600: #9c00cc;
  --primary-700: #750099;
  --primary-800: #4e0066;
  --primary-900: #270033;
  --primary-950: #14001a;

  --secondary-50: #e8eefd;
  --secondary-100: #d0defb;
  --secondary-200: #a1bcf7;
  --secondary-300: #729bf3;
  --secondary-400: #437aef;
  --secondary-500: #1458eb;
  --secondary-600: #1047bc;
  --secondary-700: #0c358d;
  --secondary-800: #08235e;
  --secondary-900: #04122f;
  --secondary-950: #020917;

  --accent-50: #fff9e5;
  --accent-100: #fff4cc;
  --accent-200: #ffe999;
  --accent-300: #ffde66;
  --accent-400: #ffd333;
  --accent-500: #ffc800;
  --accent-600: #cca000;
  --accent-700: #997800;
  --accent-800: #665000;
  --accent-900: #332800;
  --accent-950: #1a1400;
}
