/* Colors retrieved from https://www.realtimecolors.com/?colors=f8f1f8-140613-6c008d-0c358d-ffc700&fonts=Poppins-Poppins */

* {
  --text-50: #e7f0fd;
  --text-100: #cfe1fc;
  --text-200: #a0c3f8;
  --text-300: #70a5f5;
  --text-400: #4087f2;
  --text-500: #1169ee;
  --text-600: #0d54bf;
  --text-700: #0a3f8f;
  --text-800: #072a5f;
  --text-900: #031530;
  --text-950: #020b18;

  --background-50: #e7f1fd;
  --background-100: #d0e3fb;
  --background-200: #a1c8f7;
  --background-300: #71acf4;
  --background-400: #4290f0;
  --background-500: #1375ec;
  --background-600: #0f5dbd;
  --background-700: #0b468e;
  --background-800: #082f5e;
  --background-900: #04172f;
  --background-950: #020c18;

  --primary-50: #e5fff8;
  --primary-100: #ccfff1;
  --primary-200: #99ffe4;
  --primary-300: #66ffd6;
  --primary-400: #33ffc9;
  --primary-500: #00ffbb;
  --primary-600: #00cc96;
  --primary-700: #009970;
  --primary-800: #00664b;
  --primary-900: #003325;
  --primary-950: #001a13;

  --secondary-50: #ede8fd;
  --secondary-100: #dcd0fb;
  --secondary-200: #b8a2f6;
  --secondary-300: #9573f2;
  --secondary-400: #7144ee;
  --secondary-500: #4e16e9;
  --secondary-600: #3e11bb;
  --secondary-700: #2f0d8c;
  --secondary-800: #1f095d;
  --secondary-900: #10042f;
  --secondary-950: #080217;

  --accent-50: #fff5e5;
  --accent-100: #ffebcc;
  --accent-200: #ffd699;
  --accent-300: #ffc266;
  --accent-400: #ffad33;
  --accent-500: #ff9900;
  --accent-600: #cc7a00;
  --accent-700: #995c00;
  --accent-800: #663d00;
  --accent-900: #331f00;
  --accent-950: #1a0f00;
}
