$color-text: #ede5f3;
$color-text-inverted: #2b2b2b;

$color-background: #100716;

$color-primary-900: #f8f0ff;
$color-primary-700: #dec1f5;
$color-primary-500: #a772cf;
$color-primary-300: #54356b;
$color-primary-100: #201528;

$color-secondary-900: #e8cafe;
$color-secondary-700: #953dd5;
$color-secondary-500: #5f1296;
$color-secondary-300: #41026e;
$color-secondary-100: #1f0036;

$color-accent-900: #d1fdff;
$color-accent-700: #77f8ff;
$color-accent-500: #00f2ff;
$color-accent-300: #007e84;
$color-accent-100: #002324;

$border-radius: 8px;

$padding-small: 4px;
$padding: 8px;
$padding-large: 16px;

$margin-small: 4px;
$margin: 8px;
$margin-large: 16px;
