@import "../../../resources/styles/vars.scss";

.baseButtonStyle {
  background-color: $color-accent-700;

  border: none;
  border-radius: $border-radius;
  padding: $padding-small;
  cursor: pointer;

  color: $color-text-inverted;

  width: 160px;
  height: 40px;
  font-size: medium;
  font-weight: bold;

  &:hover {
    background-color: $color-accent-800;
  }

  &:active {
    background-color: $color-accent-900;
  }
}

.button-primary {
  background-color: $color-primary-500;

  &:hover {
    background-color: $color-primary-600;
  }

  &:active {
    background-color: $color-primary-400;
  }
}

.button-secondary {
  background-color: $color-secondary-500;
  color: $color-text;

  &:hover {
    background-color: $color-secondary-300;
  }

  &:active {
    background-color: $color-secondary-100;
  }
}

.iconButton {
  border-radius: 50%;
  width: 2em;
  height: 2em;
}
