@import "../../../resources/styles/vars.scss";

.header {
  width: 100%;
  padding-right: $padding;
  padding-left: $padding;
  background-color: $color-background-800;
  box-shadow: 0 2px 16px 8px black;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
