<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Commissioner&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/public/styles.css" />
  </head>
  <body>
    <header class="row">
      <h1>Dockeriboiyo</h1>
    </header>
    <main>
      <div class="card column">
        <a href="/web">Back</a>
        <h2>{{name}}</h2>
        {{#each tags}}
          <div class="row">
            <p>{{name}}</p>
            ::
            <p>{{update_date}}</p>
          </div>
        {{/each}}
      </div>
    </main>
  </body>
</html>